<a href="https://colab.research.google.com/github/Felhaba/Modelling/blob/main/Rate_Rate_correlation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
path = '!!!!!!!!!!!!!!!!!!!!!!' #fill it in accordingly

### Rate-Rate correlation

#### Data import + glimpse

In [ ]:
df_usd = pd.read_csv(f'{path}USD-SAR ZC Rates Time Series.xlsx', sep = ',') # pd.read_excel(f'{path}USD.csv', 'USD')
df_2 = pd.read_csv(f'{path}USD-SAR ZC Rates Time Series.xlsx', sep = ',') # pd.read_excel(f'{path}USD.csv', 'SAR')

In [ ]:
df_usd = df_usd[df_sar.columns]
df_usd.shape

(1997, 12)

In [ ]:
df_2.shape

(1625, 12)

In [ ]:
df_usd = df_usd.sort_values(by=['dates']) #.head(5)

In [ ]:
df_2 = df_2.sort_values(by=['dates']) #.head(5)

In [ ]:
intersect_date = set(df_2['dates']).intersection(df_usd['dates']) #same dates for both TS

Final result

* sorted by ASC
* only common dates included
* only common pillars inluded

In [ ]:
df_usd = df_usd[df_usd['dates'].isin(intersect_date)]
df_2 = df_2[df_2['dates'].isin(intersect_date)]

#### Find the 1st differences

$dr = r(\tau)_{i+1} - r(\tau)_{i},$

where $\tau$ - pillar selected (1Y, 2Y, etc.); $i$ - date at which rates are considered (1 March 2023, 2 March 2023 etc.)

In [ ]:
df_usd_diff = df_usd[df_usd.columns[1::]].diff()

In [ ]:
df_2_diff = df_2[df_2.columns[1::]].diff()

In [ ]:
# np.corrcoef(df_usd_diff[df_usd_diff.columns[1]].dropna(), df_sar_diff[df_sar_diff.columns[1]].dropna())

#### Find the correlation by pillars

In [ ]:
### finding correlation

r_USDSAR_SNB = []

for i in range(df_usd_diff.shape[1]):
  r = np.corrcoef(df_usd_diff[df_usd_diff.columns[i]].dropna(), df_2_diff[df_2_diff.columns[i]].dropna())
  r_USDSAR_SNB.append(r[0, 1])

#### Result

In [ ]:
r_USDSAR_SNB

[0.5480809495673009,
 0.5690725998197457,
 0.36802621373167727,
 0.230930042562248,
 0.5304101843421716,
 0.8052746828664735,
 0.8731808004075797,
 0.8231302586667129,
 0.8158784305209044,
 0.8173202758169773,
 0.8247626268454664,
 0.8031604914098676,
 0.8307738833568065,
 0.7701255369160481]

In [ ]:
r_USDSAR_MX

[0.876176488801264,
 0.9210047896402197,
 0.9606427016538817,
 0.9856084845913309,
 0.9862633105150359,
 0.9786026968683793,
 0.9766733527657449,
 0.9668797472886607,
 0.9588578864401457,
 0.9557872495182732,
 0.9527099270190458]